body{
    background-image:url(../img/gif1.gif);
}
::-webkit-scrollbar {
    background: transparent;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(30, 100, 109, 0.534);
}
.container{
    height: 500px;
}
.nav{
    margin-bottom: 30px;
}
#logo{
    position: absolute;
    top: -55px;
    left: 20px;
}
.fixed-bg{
    width: 82%;
    position: absolute;
    top: 25px;
    left: 800px;
    z-index: 3000;
}
.infor_consulta{
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(136, 189, 182);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
}
.infor_consulta label{
    font-size: 17px;
    margin-bottom: -7px;
}
