* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
html, body {
    background:white;
    height:100%;
}

::-webkit-scrollbar {
    background: transparent;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(30, 100, 109, 0.534);
}
.titulo{
    margin-top:30px;
}
#nav1 ul {
    padding:5px 3px;
    margin:0px;
    list-style:none;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color:rgba(70, 140, 145, 0.507);
    right: 0px;
    top: 0px;
    left:0px;
    z-index: 3000;
}
#nav1 ul li {
    display: inline;
    margin-left: 80px;
}
#nav1 ul li a {
    padding: 5px 5px;
    display: inline-block;

    /* visual do link */
    background-color:rgb(76, 127, 131);
    color: rgba(255, 253, 253, 0.801);
    text-decoration: none;
    border-bottom:3px solid rgb(76, 127, 131);
}
#nav1 ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #29a3a3;
}

#logo{
    position: fixed;
    top: -55px;
    left: 20px;
}
#subirTopo {
    text-decoration: none;
    background: #2557707a;
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    height: 45px;
}
#subirTopo img{
    width: 18px;
}
#subirTopo:hover {
    opacity:1;
}
#imgLat{
    position: relative;
    top: 220px;
    left: -170px;
    height: 438px;
    width: 750px;
}
#h1{
    font-size: 22px;
    margin-left:600px;
}
.button{
    background-color: rgba(30, 100, 109, 0.534); /* Green */
    border: none;
    color: white;
    padding:10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    right: 1000px;
    top: 20px;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#icone{
    margin-left: -10px;
    margin-right: 20px;
}
#conteudo{
    
    position: relative;
    left: -230px;
    top: 400px;
    width: 1595px;
    height: 200px;
    display: block;
    padding-left: 130px;
}
 /* icones */
   .fixed-bg {
    position: relative;
    top: 300px;
    left:-300px;
    min-height: 150px;
    min-width: 1525px;
    background-color: rgb(70, 140, 145);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}   

.icones{
    position: absolute;
    top: 100px;
    left: -500px;
    filter: drop-shadow(-3px -4px 30px rgb(0, 0, 0));
}
.icones a{
    text-decoration: none;
    color: white;
    margin-left: 70px;
}
#icon_1{
    position: relative;
    left: 590px;
    top: -100px;
}
#icon_2{
    position: relative;
    left: 630px;
    top: -100px;
}
#icon_3{
    position: relative;
    left: 690px;
    top: -100px;
}
.icones-link{
    transition: 0.5s;
}
.icones-link:hover{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.nIcon{
    position: relative;
    top: 80px;
    color: white;
    left: 200px;
    font-size: 17px;
    font-family: courier;
}


.modal{
    font-size: 20px;
}
/* background-image:linear-gradient(to top right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/imgLateral.jpg); */

#login{
    position: absolute;
    top: 25px;
    right: 100px;
    width:50px;
}
#s{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #29a3a3;
    margin-bottom: 100px;
    margin-left: 250px;
}
#c{
    font-size: 40px;
    color: #29a3a3;
    margin-bottom: 50px;
    margin-left: 250px;
}
#s span{
    font-family: 'Josefin Sans', sans-serif;
}
#c span{
    font-family: 'Josefin Sans', sans-serif;
}
#fundo{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 1600px;
    opacity: 0.1;
    display: block;
}

.linha{
    height: 500px;
    border-left: 5px solid;
    margin-left: 10px;
    margin-right: 10px;
}
.conv{
    position: relative;
    top: 500px;
    left: -100px;
}

.desc{
    position: absolute;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.texto{
    position: absolute;
    font-size: 50px;
}
.loader{
    position:absolute;
    top:260px;
    right:-340px;
    transform: translate(-50%, -50%);
}
.loader h1{
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size: 18px;
    color:black;
    background-color: url(../img/gotas.png);
    background-repeat:repeat-x;
    background-clip:text;
    animation:animate 15s linear infinite;
}

@keyframes animate{
    0%{
        background-position:left 0px top 80px;
    }
    40%{
        background-position:left 800px top 80px;
    }
}

/*search-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.box{
    position:absolute;
    top:100px;
    right: 600px;
    transform: translate(-50%, -50%);

}
input{
    position:absolute;
    display:inline-block;
    font-size:20px;
    box-sizing:border-box;
    transition:.10s;
}
input[type="text"]{
    background: #fff;
    width:250px;
    height:40px;
    border:none;
    outline:none;
    padding:0 25px;
    border-radius:25px 0 0 25px;
}

input[type="submit"]{
    position:absolute;
    border-radius:0 25px 25px 0;
    width:120px;
    height:40px;
    border:none;
    outline:none;
    cursor:pointer;
    left:250px;
    background: #29a3a3;
    color:white;
}
input[type="submit"]:hover{
    background:gray;
}
/* .carousel{
    position: relative;
    top: 105px;
    left: -320px;
    width: 1665px;
}
.carousel-inner{
    height: 550px;
}
.carousel-control-next-icon{
    margin-left: 150px;
}
.d-block{
    height: 550px;
} */
.cycle-slideshow{
    opacity:0.7;
    width: 1354px;
    height: 530px;
    position: relative;
    left: -130px;
    top:0;
}
.imgCar{
    
    width: 100%;
    height: 100%;
}
/*cards----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 /* html,
body {
    height: 100%;
    width: 100%;
}


.card {
    position:relative;
    height: 400px;
    width: 300px;
    top: 0;
    right: 0;
    left:-550px;
    bottom: 0;
    margin: auto;
    background-image: url(../img/cardiologia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 80px -10px black;
    overflow: hidden;
    border-radius:10px;
    border-color:white;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.foot {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}

svg#curve {
    position: absolute;
    fill: rgb(70, 140, 145);
    left: 0;
    bottom: 0;
    width: 400px;
    height: 450px;
}
.info {
	font-family: Inconsolata;
    padding-left: 20px;
    transform: translateY(250px);

    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
    color: #fff;
}

.job {
    margin-top: 10px;
    color:#fff;
}  */

.box{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 200px;
    top: 100px;
    background: #b30000;
    border-radius:10px;
}
.box img{
    border-radius: 10px;
}

.box1{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 400px;
    top: -323px;
    background:  #389197;
    border-radius:10px;
}
.box1 img{
    border-radius: 10px;
}

.box2{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 700px;
    top: -603px;
    background: #2f8000;
    border-radius:10px;
}
.box2 img{
    border-radius: 10px;
}

.box3{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 1000px;
    top: -883px;
    background: #206047;
    border-radius:10px;
}
.box3 img{
    border-radius: 10px;
}

.box4{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 85px;
    top: -850px;
    background: #339299;
    border-radius:10px;
}
.box4 img{
    border-radius: 10px;
}

.box5{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 400px;
    top: -1130px;
    background: #1c0099;
    border-radius:10px;
}
.box5 img{
    border-radius: 10px;
}

.box6{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 700px;
    top: -1410px;
    background: #361339;
    border-radius:10px;
}
.box6 img{
    border-radius: 10px;
}

.box7{
    justify-content: center;
    display:flex;
    align-items: center;
    position:relative;
    width: 230px;
    height:280px;
    left: 1000px;
    top: -1690px;
    background: #ff531a;
    border-radius:10px;
}
.box7 img{
    border-radius: 10px;
}

.content{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:grid;
    align-items: center;
    color:white;
    font-family: consolas;
    text-align: center;
    font-size: 14px;
}

.content a{
    display:inline-block;
    margin-top:10px;
    padding:5px 5px;
    border:1px solid #fff;
    text-decoration: none;
    color:#fff;
    transition: 0.5s;
}

.content a:hover{
    color:black;
    background:#fff;
}
.content p{
    font-family: 'Arvo', serif;
}
.content h2{
    font-family: 'Arvo', serif;
    margin-bottom: 10px;
    font-size: 25px;
}
.box img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}


.box1 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box1:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.box2 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box2:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.box3 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box3:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.box4 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box4:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.box5 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box5:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}


.box6 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box6:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}


.box7 img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box7:hover img{
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}
/* rodapé------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*
    .cont:hover{
        opacity: 0.6;
    }

    .footer {
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .footer {
      background: #29a3a3;
      padding: 20px 20px;
      width:1600px;
      margin-left:-340px;
      color:#fff;
      }
   */

.tudo{
    height: 100px;
}
.footer {
    position:absolute;
    bottom:-1900px;
    width:100%;
    height: 230px;
    background-color: rgb(70, 140, 145);
    color:#fff;
    /* border-top: #005580 solid; */
}
img.icon{
    width: 30px;
    height: 30px;
}
p.icon{
    position: relative;
    left: 1100px;
    top: -70px;
    width: 150px;
    height: 30px;
    font-size: 15px;
}
.inf{
    position: relative;
    top: 40px;
    left: 20px;
    width: 300px;
    font-size: 17px;
}
.inf p{
    width: 300px;
}
.logoRod{
    position: absolute;
    left: 580px;
    bottom: -2px;
}

@media (max-width: 480px){
    #nav1 ul{
        width: 100%;
    }
    .cycle-slideshow{
        width: 680px;
        height: 300px;
    }
    /* icones */
    .fixed-bg {
        min-height: 130px;
        min-width: 800px;
    }
    .icones{
        top: 10px;
        left: 130px;
    }
    .icones a{
        margin-left: 15px;
    }
    .icones a img{
        width: 40px;
    }
    .nIcon{
        top: 50px;
        left: 60px;
        font-size: 13px;
    }
    #conteudo{
        width: 828px;
    }
    #s{
        font-size: 32px;
    }
    /* cards */
    .content div p{
        display: none;
    }
    .content div h2{
        font-size: 20px;
    }
    .box{
        width: 150px;
        height:190px;
        left: 185px;
        top: 50px;
    }
    .box1{
        width: 150px;
        height:190px;
        left: 310px;
        top: -235px;
    }
    .box2{
        width: 150px;
        height:190px;
        left: 505px;
        top: -425px;
    }
    .box3{
        width: 150px;
        height:190px;
        left: 110px;
        top: -400px;
    }
    .box4{
        width: 150px;
        height:190px;
        left: 310px;
        top: -590px;
    }
    .box5{
        width: 150px;
        height:190px;
        left: 510px;
        top: -780px;
    }
    .box6{
        width: 150px;
        height:190px;
        left: 205px;
        top: -750px;
    }
    .box7{
        width: 150px;
        height:190px;
        left: 410px;
        top: -940px;
    }
    .content div{
        font-size: 12px;
    }
    #subirTopo{
        bottom: 210px;
        right: 10px;
    }
    .logoRod{
        left: 300px;
        top: 30px;
    }
    .logoRod img{
        width: 130px;
    }
    p.icon{
        left: 450px;
    }
    .footer{
        width: 102.5%;
    }
}

@media (min-width:500px) and (max-width: 759px) {
    #nav1 ul{
        width: 700px;
    }
    .cycle-slideshow{
        width: 810px;
        height: 400px;
    }
    /* icones */
    .fixed-bg {
        min-height: 130px;
        min-width: 810px;
    }
    .icones{
        top: 10px;
        left: 130px;
    }
    .icones a{
        margin-left: 10px;
    }
    .icones a img{
        width: 70px;
    }
    .nIcon{
        top: 55px;
        left: 75px;
        font-size: 13px;
    }
    #conteudo{
        width: 828px;
    }
    #s{
        font-size: 32px;
    }
    /* cards */
    .content div p{
        display: none;
    }
    .content div h2{
        font-size: 20px;
    }
    .box{
        width: 150px;
        height:190px;
        left: 185px;
        top: 50px;
    }
    .box1{
        width: 150px;
        height:190px;
        left: 310px;
        top: -235px;
    }
    .box2{
        width: 150px;
        height:190px;
        left: 505px;
        top: -425px;
    }
    .box3{
        width: 150px;
        height:190px;
        left: 110px;
        top: -400px;
    }
    .box4{
        width: 150px;
        height:190px;
        left: 310px;
        top: -590px;
    }
    .box5{
        width: 150px;
        height:190px;
        left: 510px;
        top: -780px;
    }
    .box6{
        width: 150px;
        height:190px;
        left: 205px;
        top: -750px;
    }
    .box7{
        width: 150px;
        height:190px;
        left: 410px;
        top: -940px;
    }
    .content div{
        font-size: 12px;
    }
    #subirTopo{
        bottom: 210px;
        right: 10px;
    }
    .logoRod{
        left: 300px;
        top: 30px;
    }
    .logoRod img{
        width: 130px;
    }
    p.icon{
        left: 450px;
    }
    .footer{
        width: 102.5%;
    }
}

@media (min-width: 760px) and (max-width: 1000px) {
    #nav1 ul{
        width: 100%;
    }
    .cycle-slideshow{
        width: 998px;
        height: 500px;
    }
    /* icones */
    .fixed-bg {
        min-height: 130px;
        min-width: 998px;
    }
    .icones{
        top: 10px;
        left: 225px;
    }
    .icones a{
        margin-left: 10px;
    }
    .icones a img{
        width: 70px;
    }
    .nIcon{
        top: 55px;
        left: 75px;
        font-size: 13px;
    }

    #conteudo{
        width: 1018px;
    }
    #s{
        font-size: 35px;
    }
    /* cards */
    .box{
        width: 200px;
        height:250px;
        left: 210px;
        top: 100px;
    }
    .box1{
        width: 200px;
        height:250px;
        left: 370px;
        top: -275px;
    }
    .box2{
        width: 200px;
        height:250px;
        left: 630px;
        top: -525px;
    }
    .box3{
        width: 200px;
        height:250px;
        left: 110px;
        top: -500px;
    }
    .box4{
        width: 200px;
        height:250px;
        left: 370px;
        top: -750px;
    }
    .box5{
        width: 200px;
        height:250px;
        left: 630px;
        top: -1000px;
    }
    .box6{
        width: 200px;
        height:250px;
        left: 235px;
        top: -970px;
    }
    .box7{
        width: 200px;
        height:250px;
        left: 500px;
        top: -1220px;
    }
    .content div{
        font-size: 12px;
    }
    #subirTopo{
        bottom: 85px;
        right: 10px;
    }
    .logoRod{
        left: 350px;
        top: 30px;
    }
    .logoRod img{
        width: 130px;
    }
    p.icon{
        left: 550px;
    }
    .footer{
        width: 102.5%;
    }
    .tudo{
        position: relative;
        left: -20px;
    }
}


@media (min-width:1200px) and (max-width:1350px){
    #nav1 ul {
        width: 102%;
        height: 100px;
    }
    .cycle-slideshow{
        width: 1465px;
        height: 500px;
    }
    #conteudo{
        width: 1483px;
        height: 1150px;
    }
    p.icon{
        left: 1080px;
        top: -55px;
    }
    /* icones */
    .fixed-bg {
        min-height: 130px;
        min-width: 1576px;
    }
    .icones{
        top: 10px;
        left: 380px;
    }
    .icones a{
        margin-left: 70px;
    }
    .icones a img{
        width: 70px;
    }
    .nIcon{
        top: 55px;
        left: 75px;
        font-size: 13px;
    }
    /* cards */
    .box{
        width: 230px;
        height:280px;
        left: 230px;
        top: 100px;
    }
    .box1{
        width: 230px;
        height:280px;
        left: 430px;
        top: -323px;
    }
    .box2{
        width: 230px;
        height:280px;
        left: 730px;
        top: -603px;
    }
    .box3{
        width: 230px;
        height:280px;
        left: 1030px;
        top: -883px;
    }
    .box4{
        width: 230px;
        height:280px;
        left: 113px;
        top: -850px;
    }
    .box5{
        width: 230px;
        height:280px;
        left: 430px;
        top: -1130px;
    }
    .box6{
        width: 230px;
        height:280px;
        left: 730px;
        top: -1410px;
    }
    .box7{
        width: 230px;
        height:280px;
        left: 1030px;
        top: -1690px;
    }
    .content div{
        font-size: 14px;
    }
    .content div h2{
        font-size: 25px;
    }
    #subirTopo{
        bottom: 85px;
        right: 10px;
    }
    .logoRod{
        left: 530px;
    }
    .footer{
        position: relative;
        top: 0px;
        width:101%;
    }
    .tudo{
        position: relative;
        left: -20px;
    }
    .conv{
        position: relative;
        top: 550px;
    }
}
