body{
    background:  rgb(49, 47, 47);
}
#tabela_length{
    display: none;
}
#tabela_filter{
    display: none;
}
#tabela_info{
    display: none;
}
.th{
    color: white;
    background-color: #005580;
}
#tabela_wrapper{
    position: relative;
    top: 0px;
}
button.botao{
    position:relative;
    top:350px;
    left:900px;
    padding:5px 5px;
    border:2px solid #fff;
    color:#fff;
    background-color: #29a3a3;
    border-radius:5px;
}
.iconop{
    width: 30px;
    margin-left: 25px;
}
.td{
    background-color: gray;
}
